@font-face {
    font-family: "RamettoOne";
    src: url("../assets/fonts/Rammetto_One/RammettoOne-Regular.ttf");
}

@font-face {
    font-family: "WorkSans";
    src: url("../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

* {
    font-family: 'RamettoOne';
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#21A393, #0A073F);
}